// LAYOUT PARA LANDING PAGE
.grid-container__landing-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    
        "header" auto
        "main" 1fr
        "footer" auto;
    height: 100vh;

    &--header {
        background-color: lime;
        height: calc(100vh - 100px);
    }

    &--main {
        background-color: purple;
        height: calc(100vh - 100px);
    }

    &--footer {
        background-color: blue;
        height: calc(100vh - 100px);
    }
}