<div class="container grid-container__landing-page">
    <header class="grid-container__landing-page--header">
        <nav class="row navbar px-4 align-center">
            <figure class="col-4 navbar__img">
                <img src="" alt="LOGO DA EMPRESA" class="navbar__img-item">
            </figure>
            <div class="col-8 navbar__list d-grid j-end">
                <ul class="col-8 navbar__list row ">
                    <li class="navbar__list-item col-4 px-2"><a href="" class="navbar__link--list">LINKS</a></li>
                    <li class="navbar__list-item col-4 px-2"><a href="" class="navbar__link--list">LINKS</a></li>
                    <li class="navbar__list-item col-4 px-2"><a href="" class="navbar__link--list">LINKS</a></li>
                    <li class="navbar__list-item col-4 px-2"><a href="" class="navbar__link--list">LINKS</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <main class="grid-container__landing-page--main">Esse é o main</main>
    <footer class="grid-container__landing-page--footer">esse é o footer</footer>
</div>