<div class="container grid-container__landing-page">
    <header class="grid-container__landing-page--header">
        <nav class="row navbar px-4 align-center">
            <figure class="col-4 navbar__img">
                <img src="" alt="LOGO DA EMPRESA" class="navbar__img-item">
            </figure>
            <ul class="col-8 navbar__list d-flex">
                <li class="navbar__list-item"><a href="" class="navbar__link">LINKS</a></li>
                <li class="navbar__list-item"><a href="" class="navbar__link">LINKS</a></li>
                <li class="navbar__list-item"><a href="" class="navbar__link">LINKS</a></li>
                <li class="navbar__list-item"><a href="" class="navbar__link">LINKS</a></li>
            </ul>
        </nav>
    </header>
    <main class="grid-container__landing-page--main">Esse é o main</main>
    <footer class="grid-container__landing-page--footer">esse é o footer</footer>
</div>